@page
@model UnicdaPlatform.Areas.Identity.Pages.Account.Manage.Administrator.Fiscals.FiscalDetailsModel
@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Areas/Identity/Pages/Account/Manage/Administrator/_AdmLayout.cshtml";
}

<div class="container-fluid">
    <div class="cont-all">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="tit-general">CONFIGURACION FISCAL</h1>
        </div>
        <div class="row">
            <div id="disponibles" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-sm-flex align-items-center justify-content-between">
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive tabla-disponible">
                            @using (Html.BeginForm())
                            {
                                <table class="table"  width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>Cod. Ncf</th>
                                            <th>Descripcion</th>
                                            <th>Principal Venta</th>
                                            <th>Principal Nota de Credito</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ncfTypes.Count > 0)
                                        {
                                            @foreach (var term in Model.ncfTypes)
                                            {
                                        <tr style="@(term.Deleted == true ? "background-color:#FAE6E9" : "")">
                                            <td>@Html.DisplayFor(IndexModel => term.NcfId)</td>
                                            <td>@Html.DisplayFor(IndexModel => term.Description)</td>
                                            @if (term.IsDefaultSale)
                                            {

                                                <td>Si</td>
                                            }
                                            else
                                            {
                                                <td>No</td>
                                            } @if (term.IsDefaultCreditMemo)
                                            {

                                                <td>Si</td>
                                            }
                                            else
                                            {
                                                <td>No</td>
                                            }
                                            <td>
                                                <div class="row btn-accion">
                                                    <div class="dropdown no-arrow">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-md fa-fw text-black"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                             aria-labelledby="dropdownMenuLink">
                                                            <div class="dropdown-header">Otras opciones</div>
                                                            <button value='@term.NcfId' type="submit" name="fiscalId" class="dropdown-item">
                                                                Ver Detalles
                                                            </button>
                                                            <button value='@term.NcfId' type="submit" name="AddSequenceId" class="dropdown-item">
                                                                Agregar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                            }
                                        }
                                        </tbody>
                                        </table>
                                    }
                        </div>
                    </div>
                </div>
            
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-black">Secuencias Registradas - @Model.NcfName</h6>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive tabla-disponible">
                            @using (Html.BeginForm())
                            {
                                <table class="table" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>Serie</th>
                                            <th>Inicio</th>
                                            <th>Siguiente</th>
                                            <th>Fin</th>
                                            <th>Desde</th>
                                            <th>Hasta</th>
                                            <th>Descripcion</th>
                                            <th>Estado</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ncfSequenceDetails.Count > 0)
                                        {
                                            @foreach (var term in Model.ncfSequenceDetails)
                                            {
                                        <tr style="@(term.SeqStatus == 1 ? "background-color:#BBFBE6" : "")">
                                            <td>@Html.DisplayFor(IndexModel => term.Serie)</td>
                                            <td>@Html.DisplayFor(IndexModel => term.SeqStart)</td>
                                            <td>@Html.DisplayFor(IndexModel => term.SeqNext)</td>
                                            <td>@Html.DisplayFor(IndexModel => term.SeqEnd)</td>
                                            <td>@term.DateStart.ToString("dd-MM-yyyy")</td>
                                            <td>@Html.DisplayFor(IndexModel => term.DateEnd)</td>
                                            <td>@Html.DisplayFor(IndexModel => term.DGIIDescription)</td>
                                            @if (term.SeqStatus == 0)
                                            {
                                                <td>Pendiente</td>
                                            }
                                            else if (term.SeqStatus == 1)
                                            {
                                                <td>En Uso</td>
                                            }
                                            else if (term.SeqStatus == 2)
                                            {
                                                <td>Agotada</td>
                                            }
                                            else if (term.SeqStatus == 3)
                                            {
                                                <td>Expirada</td>
                                            }
                                            else
                                            {
                                                <td>Otro</td>
                                            }
                                            <td>
                                                <div class="row btn-accion">
                                                    <div class="dropdown no-arrow">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-md fa-fw text-black"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                             aria-labelledby="dropdownMenuLink">
                                                            <div class="dropdown-header">Otras opciones</div>
                                                            <button value='@term.Id' type="submit" name="view" class="dropdown-item">
                                                                Ver Detalles
                                                            </button>
                                                            <div class="form-group">
                                                                <button value='@term.Id' type="submit" name="delete" class="dropdown-item">
                                                                    Eliminar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>